.home-page {
    height: calc(100vh - 130px);
    padding: 0 !important;
    /* overflow-y: auto; */
}

.custom.mat-card {
    padding: 0;
    margin: 8px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    cursor: pointer;
}

.side-menu {
    overflow-y: auto;
}

.top-div {
    background-color: #f5f5f5;
    height: 40px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-top: 1px solid #d3d2d2;
    border-bottom: 1px solid #d3d2d2;
}

.top-heading {
    padding: 10px;
    color: #e97203;
}

.card-body {
    margin: 10px;
}

hr {
    height: 1px;
    border-width: 0;
    color: #dadada;
    background-color: #dadada;
}

.page-list {
    list-style: none;
    font-size: 14px;
    padding: 8px 0 8px 30px;
    color: #0c4cc4;
}

.page-list:hover {
    background-color: #1565C0;
    color: #ffffff;
    border-radius: 3px;
    cursor: pointer;
}

.list-icon {
    margin-right: 5px;
    color: #072dac;
}

.customize.mat-card {
    padding: 8px;
    margin: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    /* background-color: #4183ce; */
    background-color: #777777;
    cursor: pointer;
}

.bottom-heading {
    text-align: center;
    color: #ffffff;
    font-size: 22px;
    margin-top: 20px;
}

.top-heading-body {
    /* padding: 10px; */
    color: black;
    text-align: left;
}

.heading-font {
    font-size: 18px;
}

.heading-data-font {
    font-size: 22px;
    color: darkblue;
}

table {
    width: 100%;
    border-collapse: collapse;
}

td,
th {
    border: 1px solid #eeeeee;
    text-align: left;
    padding: 2px;
}

tr:nth-child(even) {
    /*background-color: gainsboro;*/
    background-color: white;
}

tr:nth-child(odd) {
    /*background-color: lavender;*/
    background-color: white;
}

.move-element {
    transition: transform .3s;
    /* transition: all .2s ease-in-out;  */
    padding: 7px 0;
}

.move-element:hover {
    transform: translate(3px, -3px);
    box-shadow: 0 8px 5px -4px #333;
    /* box-shadow: 0 15px 30px #aaa; */
    /* transform: translate3d(0,-5px,0); */
}


/* .mat-calendar {
  background-color: lightyellow;    
  height: 280px;
  text-align: center;
}
.mat-calendar-body-cell-content{
  color: red;
  background-color: black;
} */

.calendar-wrapper {
    /*max-width: 320px;
  min-width: 80px;*/
    border: 0px solid var(--igx-secondary-400);
    border-radius: 6px;
    /*margin: 8px;*/
}

.igx-calendar {
    border-radius: 4px;
}