<div style="display: flex; flex-direction: row; gap: 8px;">

    <mat-card style="flex: 1; display: flex; justify-content: space-around; align-items: center; background-color: lavender;">
        <span class="heading-font">Total Sell</span>
        <span class="heading-data-font">1,050</span>
    </mat-card>

    <mat-card style="flex: 1; display: flex; justify-content: space-around; align-items: center; background-color: lightblue;">
        <span class="heading-font">New Item</span>
        <span class="heading-data-font">10</span>
    </mat-card>

    <mat-card style="flex: 1; display: flex; justify-content: space-around; align-items: center; background-color: linen;">
        <span class="heading-font">Today's Sell</span>
        <span class="heading-data-font">1,025</span>
    </mat-card>

    <mat-card style="flex: 1; display: flex; justify-content: space-around; align-items: center; background-color: gainsboro;">
        <span class="heading-font">Need Product</span>
        <span class="heading-data-font">25</span>
    </mat-card>

</div>

<div style="display: flex; flex-direction: row; gap: 8px;">
    <canvas id="totalSellChart" style="flex: 1; background-color: lavender;"></canvas>
    <canvas id="newItemChart" style="flex: 1; background-color: lightblue;"></canvas>
    <canvas id="todaysSellChart" style="flex: 1; background-color: linen;"></canvas>
    <canvas id="needProductChart" style="flex: 1; background-color: gainsboro;"></canvas>
</div>