<nz-layout>
    <nz-sider nzCollapsible nzWidth="200px">
        <div class="logo">
            <img nz-image nzSrc="/src/assets/icons/navanalogo.svg" />
            <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3 fs-6">Hello {{fullName}}</a>
        </div>
        <hr class="hr">
        <ul nz-menu nzTheme="dark" nzMode="inline">
            <li nz-menu-item>
                <span nz-icon nzType="plus" nzTheme="outline"></span>
                <span (click)="appointment()">New Appointment</span>
            </li>
            <li nz-menu-item>
                <span nz-icon nzType="pie-chart"></span>
                <span>Dashboard</span>
            </li>
            <li nz-menu-item>
                <span nz-icon nzType="desktop"></span>
                <span>Home</span>
            </li>

            <li nz-submenu nzTitle="User" nzIcon="user">
                <ul>
                    <li nz-menu-item>Tom</li>
                    <li nz-menu-item>Bill</li>
                    <li nz-menu-item>Alex</li>
                </ul>
            </li>
            <li nz-submenu nzTitle="Approved Screen" nzIcon="team">
                <ul>
                    <li nz-menu-item (click)="confirmScreen()">Confirm</li>
                    <li nz-menu-item>Re-Confirm</li>
                    <li nz-menu-item>View</li>
                </ul>
            </li>
            <li nz-menu-item>
                <span nz-icon nzType="file"></span>
                <span>File</span>
            </li>
        </ul>
    </nz-sider>
    <nz-layout>
        <nz-header style="height: inherit; background-color: #001529; padding: 6px;">
            <div nz-row [nzGutter]="16">
                <div nz-col nzSpan="24" nzXs="24" nzMd="8" nzLg="4">
                    <h4 style="color: white; text-align: center; padding-top: 18px;">Hotline : 4586</h4>
                </div>
                <div nz-col nzSpan="24" nzXs="24" nzMd="8" nzLg="18">
                    <input nz-input placeholder="Search" />
                </div>
                <div style="text-align: right;" nz-col nzSpan="24" nzXs="24" nzMd="8" nzLg="2">
                    <button nz-button nzType="primary" (click)="logOut()" nzDanger>Sign out</button>
                </div>
            </div>
        </nz-header>
        <nz-content>
            <!-- *ngIf="router.url !== '/apoinment'" -->
            <nz-breadcrumb>
                <nz-breadcrumb-item>Dashboard</nz-breadcrumb-item>
            </nz-breadcrumb>
            <div class="inner-content">
                <app-chartbord></app-chartbord>
            </div>
        </nz-content>
        <!-- <nz-content *ngIf="router.url !== '/dashboard'">
            <nz-breadcrumb>
                <nz-breadcrumb-item>Confirm</nz-breadcrumb-item>
            </nz-breadcrumb>
            <div class="inner-content">
                <app-confirm-apoinment></app-confirm-apoinment>
            </div>
        </nz-content> -->
        <nz-content>
            <div class="inner-content">
                <h2>Appointment List</h2><br>
                <div class="table-responsive">
                    <table class="table table-striped table-sm">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Model</th>
                                <th scope="col">Model Year</th>
                                <th scope="col">Kilometer</th>
                                <th scope="col">Remarks</th>
                                <th scope="col">Address</th>
                                <th scope="col">Phone</th>
                                <th scope="col">Email</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let appointment of appointmentData; let i= index">
                                <td>{{i+1}}</td>
                                <td>{{appointment.model}}</td>
                                <td>{{appointment.model_Year}}</td>
                                <td>{{appointment.km}}</td>
                                <td>{{appointment.remarks}}</td>
                                <td>{{appointment.address}}</td>
                                <td>{{appointment.vPhone}}</td>
                                <td>{{appointment.email}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </nz-content>
        <nz-footer>Navana Limited ©2023 Implement By Navana Group IT</nz-footer>
    </nz-layout>
</nz-layout>
