.center {
    border: 1px solid black;
}

.text {
    color: rgb(0, 0, 0);
    padding: auto;
    font-family: Lato;
    text-align: center;
}

nz-select {
    width: 200px;
}

nz-date-picker {
    margin: 0 8px 12px 0;
    width: 200px;
}

nz-time-picker {
    margin: 0 8px 12px 0;
    width: 200px;
}

input {
    margin: 0 8px 12px 0;
    width: 200px;
}

.ant-progress {
    margin-right: 8px;
    margin-bottom: 8px;
    display: inline-block;
}
