<div nz-row>
    <div nz-col nzSpan="24">
        <div class="text">
            <h1>BOOK SERVICE</h1>
            <a>Navana Limited</a>
        </div>
    </div>
</div>

<div class="grid-container inner">
    <nz-card class="mat-card-gap">
        <div nz-row>
            <div nz-col nzSpan="24">
                <div class="form-progress-bar-wrapper my-4">
                    <nz-progress [nzPercent]="progress" [nzStrokeColor]="{ '0%': '#108ee9', '100%': '#87d068' }"></nz-progress>
                </div>
            </div>
        </div>

        <form [id]="formId" [formGroup]="form" (ngSubmit)="onSaveConfirmation()" autocomplete="off">
            <div nz-row [nzGutter]="16">
                <div nz-col nzSpan="24" nzXs="24" nzMd="8" nzLg="4">
                    <nz-form-item>
                        <nz-form-label for="tbAppType">Work Type Selection <span class="star">*</span></nz-form-label>
                        <nz-select class="center" nz-input id="tbAppType" formControlName="tbAppType" nzShowSearch nzAllowClear nzPlaceHolder="Select Type">
                            <nz-option *ngFor="let tbAT of tbAppType" [nzLabel]="tbAT.app_Type" [nzValue]="tbAT.app_TypeId">
                            </nz-option>
                        </nz-select>
                    </nz-form-item>

                </div>
                <div nz-col nzSpan="24" nzXs="24" nzMd="8" nzLg="4">
                    <nz-form-item>
                        <nz-form-label for="Schedule_Date">Appointment Date <span class="star">*</span></nz-form-label>
                        <nz-date-picker class="center" nz-input id="Schedule_Date" formControlName="Schedule_Date"></nz-date-picker>
                    </nz-form-item>
                </div>
                <div nz-col nzSpan="24" nzXs="24" nzMd="8" nzLg="4">
                    <nz-form-item>
                        <nz-form-label for="Schedule_Time">Appointment Time <span class="star">*</span></nz-form-label>
                        <nz-time-picker class="center" nz-input id="Schedule_Time" formControlName="Schedule_Time"></nz-time-picker>
                    </nz-form-item>
                </div>
                <div nz-col nzSpan="24" nzXs="24" nzMd="8" nzLg="4">
                    <nz-form-item>
                        <nz-form-label for="End_Time">Appointment Time <span class="star">*</span></nz-form-label>
                        <nz-form-control>
                            <nz-time-picker class="center" nz-input id="End_Time" formControlName="End_Time"></nz-time-picker>
                        </nz-form-control>
                    </nz-form-item>
                </div>
                <div nz-col nzSpan="24" nzXs="24" nzMd="8" nzLg="4">
                    <nz-form-item>
                        <nz-form-label for="Cust_Name">Cust Name <span class="star">*</span></nz-form-label>
                        <nz-form-control>
                            <input class="center" nz-input id="Cust_Name" formControlName="Cust_Name" />
                        </nz-form-control>
                    </nz-form-item>
                </div>
                <div nz-col nzSpan="24" nzXs="24" nzMd="8" nzLg="4">
                    <nz-form-item>
                        <nz-form-label for="Address">Address<span class="star">*</span></nz-form-label>
                        <nz-form-control>
                            <input class="center" nz-input id="Address" formControlName="Address" />
                        </nz-form-control>
                    </nz-form-item>
                </div>

            </div>
            <div nz-row [nzGutter]="16">
                <div nz-col nzSpan="24" nzXs="24" nzMd="8" nzLg="4">
                    <nz-form-item>
                        <nz-form-label for="vReg_No">Vehicle Reg. Name <span class="star">*</span></nz-form-label>
                        <nz-form-control>
                            <input class="center" nz-input id="vReg_No" formControlName="vReg_No" />
                        </nz-form-control>
                    </nz-form-item>
                </div>
                <div nz-col nzSpan="24" nzXs="24" nzMd="8" nzLg="4">
                    <nz-form-item>
                        <nz-form-label for="Model">Model Name <span class="star">*</span></nz-form-label>
                        <nz-form-control>
                            <input class="center" nz-input id="Model" formControlName="Model" />
                        </nz-form-control>
                    </nz-form-item>
                </div>
                <div nz-col nzSpan="24" nzXs="24" nzMd="8" nzLg="4">
                    <nz-form-item>
                        <nz-form-label for="Model_Year">Model Year <span class="star">*</span></nz-form-label>
                        <nz-form-control>
                            <input class="center" nz-input id="Model_Year" formControlName="Model_Year" />
                        </nz-form-control>
                    </nz-form-item>
                </div>
                <div nz-col nzSpan="24" nzXs="24" nzMd="8" nzLg="4">
                    <nz-form-item>
                        <nz-form-label for="KM">Runing KM <span class="star">*</span></nz-form-label>
                        <nz-form-control>
                            <input class="center" nz-input id="KM" formControlName="KM" />
                        </nz-form-control>
                    </nz-form-item>
                </div>
                <div nz-col nzSpan="24" nzXs="24" nzMd="8" nzLg="4">
                    <nz-form-item>
                        <nz-form-label for="Chesis_No">Chesis No.<span class="star">*</span></nz-form-label>
                        <nz-form-control>
                            <input class="center" nz-input id="Chesis_No" formControlName="Chesis_No" />
                        </nz-form-control>
                    </nz-form-item>
                </div>
                <div nz-col nzSpan="24" nzXs="24" nzMd="8" nzLg="4">
                    <nz-form-item>
                        <nz-form-label for="MobleNO_SMS">Moble NO For SMS<span class="star">*</span></nz-form-label>
                        <nz-form-control>
                            <input class="center" nz-input id="MobleNO_SMS" formControlName="MobleNO_SMS" />
                        </nz-form-control>
                    </nz-form-item>
                </div>
            </div>
            <div nz-row [nzGutter]="16">
                <div nz-col nzSpan="24" nzXs="24" nzMd="8" nzLg="4">
                    <nz-form-item>
                        <nz-form-label for="Remarks">Remarks<span class="star">*</span></nz-form-label>
                        <nz-form-control>
                            <input class="center" nz-input id="Remarks" formControlName="Remarks" />
                        </nz-form-control>
                    </nz-form-item>
                </div>
                <div nz-col nzSpan="24" nzXs="24" nzMd="8" nzLg="4">
                    <nz-form-item>
                        <nz-form-label for="email">Email<span class="star">*</span></nz-form-label>
                        <nz-form-control>
                            <input class="center" nz-input id="email" formControlName="email" />
                        </nz-form-control>
                    </nz-form-item>
                </div>
                <div nz-col nzSpan="24" nzXs="24" nzMd="8" nzLg="4">
                    <nz-form-item>
                        <nz-form-label for="vPhone">Phone<span class="star">*</span></nz-form-label>
                        <nz-form-control>
                            <input class="center" nz-input id="vPhone" formControlName="vPhone" />
                        </nz-form-control>
                    </nz-form-item>
                </div>
            </div>
            <div nz-row [nzGutter]="16">
                <div nz-col nzSpan="24" nzXs="24" nzMd="8" nzLg="12">
                    <button nz-button nzType="primary" type="submit" [disabled]="!form.valid">Save</button>
                </div>
                <div nz-col nzSpan="24 " nzXs="24 " nzMd="8 " nzLg="12">
                    <button nz-button nzType="primary" type="button " (click)="onBack()">Back</button>
                </div>
            </div>
        </form>
    </nz-card>
</div>
